<p id="notice"><%= notice %></p>

<p>
  <strong>List ID:</strong>
  <%= @list %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @task.limit %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', lists_path %>
